.landing {
  h1 {
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }

  button {
    color: white;
    background-color: black;
    margin: 2rem 0;
  }

  a {
    color: #3535f0 !important;
    text-decoration: underline !important;
    font-weight: bolder !important;
  }
}
