.airdrop-success {
  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    margin-top: 2rem;
  }

  a {
    text-decoration: underline !important;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
}
